@import '../../style/library.scss';

.char {
    &__content {
        margin-top: 50px;
        display: flex;
        gap: 15px;
        align-items: flex-start;
    }
    &__block{
        flex: 0 1 75%;
    }
    &__list{
        width: 100%;
    }
    &__grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        row-gap: 30px;
    }
    &__item {
        width: 170px;
        height: 280px;
        background-color: $dark;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
        padding: 15px;
        cursor: pointer;
        transition: 0.3s transform;
        img {
            width: 170px;
            height: 170px;
            object-fit: cover;
            transform: translate(-15px, -15px);
        }
        &_selected {
            box-shadow: 0 5px 20px $main-color;
            transform: translateY(-8px);
        }
    }
    &__name {
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.25;
        text-transform: uppercase;
        color: #fff;
    }
}

@media screen and (max-width: $large-down) {
    .char{

        &__block{
            flex: 0 1 100%;
        }
    }
}

@media screen and (max-width: $medium-down) {
    .char{

        &__grid{
            grid-template-columns: repeat(2, 1fr);
        }
        &__item{
            width: 140px;
            height: 250px;
            & img{
                width: 140px;
                height: 140px;
            }
        }
    }
}