@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './library';
@import './button';

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.app {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0 20px;
    position: relative;
    .bg-decoration {
        position: absolute;
        width: 300px;
        right: 25px;
        bottom: -70px;
        z-index: -1;
    }
}

.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 25px;
}

main {
    margin-top: 50px;
    position: relative;
}

._lock{
    overflow: hidden;
}

.pulse {
    animation: pulse 1.5s ease-in-out .5s infinite
}

@keyframes pulse {
    0% {
        opacity: 1
    }
    50% {
        opacity: .4
    }
    100% {
        opacity: 1
    }
}

@media screen and (max-width: $large-down) {

}

@media screen and (max-width: $medium-down) {
    html{
        font-size: 14px;
    }
    main{
        margin-top: 25px;
    }
    .app{
        padding: 25px 0;
        .bg-decoration{
            width: 200px;
            bottom: 3%;
            right: 2%;
        }
    }
}

@media screen and (max-width: $small-down) {
    
}