.error-page{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    &__link{
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        margin-top: 50px;
    }
}