@import '../../style/library.scss';
.app {
    &__banner {
        width: 100%;
        background-color: $dark;
        height: 100px;
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        &-text {
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.33333;
            color: #FFFFFF;
        }
    }
}


@media screen and (max-width: $medium-down) {
    .app{
        &__banner{
            padding: 0 5px;
            img{
                width: 100px;
                align-self: flex-end;
            }
        }
    }
}

@media screen and (max-width: $small-down) {
    .app{
        &__banner{
            padding: 0 5px;
            img{
                width: 60px;
            }
        }
    }
}